<td class="transaction-date">{{format-date transaction.created_at leaveAgo="true"}}</td>
<td class="transaction-details">
  <a href={{url}} class="link {{if transaction.user_reward "redeemed"}}">{{details}}</a>
</td>
<td class="transaction-points {{if transaction.user_reward "redeemed"}}">
  {{if transaction.user_reward '-' '+'}}{{transaction.reward_points}}
</td>
