{{#load-more selector=".discourse-rewards-rewards-list div" action=(action "loadMore")}}
  <div class="rewards">
    <div class="rewards-header">
      {{#if model.rewards.length}}
        <h3 class="rewards-heading">{{i18n "discourse_rewards.title"}}</h3>
      {{else}}
        <div class="empty-state">
          <span class="empty-state-title">{{i18n "admin.rewards.empty_state_title"}}</span>
        </div>
      {{/if}}
      <div class="create-new-reward">
        {{d-button
          action=(action "addReward")
          class="btn-primary"
          icon="plus"
          label="admin.rewards.new"
        }}
      </div>
    </div>
    <div class="discourse-rewards-rewards-list">
      {{#each model.rewards as |reward|}}
        {{reward-card reward=reward save=save destroy=destroy}}
      {{/each}}
    </div>
    {{conditional-loading-spinner condition=loading}}
  </div>
{{/load-more}}
