{{#load-more selector=".discourse-rewards-rewards-list div" action=(action "loadMore")}}
  <div class="rewards">
    <div class="rewards-header">
      {{#if model.userRewards.length}}
        <h3 class="rewards-heading">{{i18n "discourse_rewards.user_rewards.title"}}</h3>
      {{else}}
        <div class="empty-state">
          <span class="empty-state-title">{{i18n "admin.rewards.rewards_grant.empty_state_title"}}</span>
        </div>
      {{/if}}
    </div>
    <div class="discourse-rewards-rewards-list">
      {{#each model.userRewards as |user_reward|}}
        {{reward-card reward=user_reward.reward username=user_reward.user.username user_reward=user_reward grant=grant cancelReward=cancelReward}}
      {{/each}}
    </div>
    {{conditional-loading-spinner condition=loading}}
  </div>
{{/load-more}}
